<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="xxx" connectionString="Data Source=xxx;Initial Catalog=xxx;User ID=xxx;Password=xxx;" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.web>
    <sessionState mode="SQLServer" sqlConnectionString="Data Source=xxx;Initial Catalog=;User ID=xxx;Password=xxxx" cookieless="false" timeout="20" allowCustomSqlDatabase="true" />
    <customErrors mode="Off" />
    <compilation targetFramework="4.0" debug="true" />
    <pages validateRequest="false" controlRenderingCompatibilityVersion="4.0" enableViewState="false" enableEventValidation="false" />
    <httpRuntime requestPathInvalidCharacters="" requestValidationMode="2.0" relaxedUrlToFileSystemMapping="true" />
  </system.web>
  <system.webServer>

    <httpErrors errorMode="Detailed" />
    <security>
      <requestFiltering allowDoubleEscaping="true" />
    </security>
    <staticContent>
      <remove fileExtension=".mdb" />
      <mimeMap fileExtension=".log" mimeType="text/plain" />
      <mimeMap fileExtension=".aspx.bak" mimeType="text/plain" />
      <mimeMap fileExtension=".mdb" mimeType="application/x-msaccess" />
    </staticContent>
    <httpCompression directory="%SystemDrive%\inetpub\temp\IIS Temporary Compressed Files">
      <scheme name="gzip" dll="%Windir%\system32\inetsrv\gzip.dll" />
      <dynamicTypes>
        <add mimeType="text/*" enabled="true" />
        <add mimeType="message/*" enabled="true" />
        <add mimeType="application/javascript" enabled="true" />
        <add mimeType="*/*" enabled="true" />
      </dynamicTypes>
      <staticTypes>
        <add mimeType="text/*" enabled="true" />
        <add mimeType="message/*" enabled="true" />
        <add mimeType="application/javascript" enabled="true" />
        <add mimeType="*/*" enabled="true" />
      </staticTypes>
    </httpCompression>
    <urlCompression doStaticCompression="true" doDynamicCompression="true" />
  </system.webServer>
</configuration>
<!--ProjectGuid: DE17975D-D22E-4D2D-8A82-2E5C3B2E2669-->