<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <add name="testsparkercs" connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=testsparker;Integrated Security=True" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <system.web>
    <compilation targetFramework="4.0" debug="true"/>
    <pages validateRequest="false"/>
    <httpRuntime requestPathInvalidCharacters="" requestValidationMode="2.0"/>
  </system.web>
  <system.webServer>
    <security>
      <requestFiltering allowDoubleEscaping="true"/>
    </security>
    <rewrite>
      <rules>
        <rule name="RewriteUserFriendlyURL1" stopProcessing="true">
          <match url="^blog/([^/]+)/?$"/>
          <conditions>
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true"/>
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true"/>
          </conditions>
        </rule>
        <rule name="RewriteUserFriendlyURL2" stopProcessing="true">
          <match url="^Dashboard/"/>
          <conditions>
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true"/>
          </conditions>
        </rule>
      </rules>
    </rewrite>
    <staticContent>
      <mimeMap fileExtension=".log" mimeType="text/plain"/>
      <mimeMap fileExtension=".aspx.bak" mimeType="text/plain"/>
    </staticContent>
  </system.webServer>
</configuration>